<!-- partial file! 
    theorically you cant create reservations in backend!
-->

<div>
<label>Code</label>
<input type="text" name="code" value="<%= reservation.code %>">
</div>

<div>
    <% if(hotels.length > 0){ %>
    <label>Location*</label>
        <select name="location">
            <% hotels.forEach(hotel => { %>
                <option label="<%= hotel.name %>" value="<%= hotel._id %>"></option>
            <% }) %>
        </select>
    <% } else { %>
        <label>Location* There are no Hotels available right now</label>
    <% } %>
</div>

<div>
<label>Begin Date:</label>
<input type="date" name="dateBegin" 
    value="<%= reservation.dateBegin == null ? '' : reservation.dateBegin.toISOString().split('T')[0] %>">
</div>

<div>
<label>End Date</label>
<input type="date" name="dateEnd" 
value="<%= reservation.dateEnd == null ? '' : reservation.dateEnd.toISOString().split('T')[0] %>">
</div>

<div>
    <label>Pet*</label>
    <select name="pet">
        <% pets.forEach(pet => { %>
            <option label="<%= pet.name %>" value="<%= pet.id %>"></option>
        <% }) %>
    </select>
</div>