<h2>Search Reservation</h2>
<form action="/reservation" method="GET">
    <labels>Name</labels>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% reservation.forEach(reservation => { %>
    <div>Reservation <%= reservation.code %></div>
    <div>State: <%= reservation.state %></div>
    <div>Customer: <%= reservation.customer.name %></div>
    <a href="/reservation/<%= reservation.id %>">View</a>
    <a href="/reservation/<%= reservation.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm.ejs', { url: `/reservation/${reservation.id}` }) %>
    <br>
<% }) %>