<!-- partial file! 
    theorically you cant create reservations in backend!
-->
<div class="form-row">
    <div class="form-item">
        <label>Code</label>
        <input type="text" name="code" value="<%= reservation.code %>">
    </div>

    <div class="form-item">
        <% if(hotels.length> 0){ %>
            <label>Location*</label>
            <select name="location">
            <% hotels.forEach(hotel=> { %>
                    <option label="<%= hotel.name %>" value="<%= hotel._id %>"></option>
            <% }) %>
            </select>
        <% } else { %>
            <label>Location* 
                <br>
                There are no Hotels available right now
            </label>
        <% } %>
    </div>

    <div class="form-item">
        <label>Begin Date:</label>
        <input type="date" min="<% %>" name="dateBegin"
            value="<%= reservation.dateBegin == null ? '' : reservation.dateBegin.toISOString().split('T')[0] %>">
    </div>

    <div class="form-item">
        <label>End Date</label>
        <input type="date" min="<%  %>" name="dateEnd"
            value="<%= reservation.dateEnd == null ? '' : reservation.dateEnd.toISOString().split('T')[0] %>">
    </div>

    <div class="form-item">
        <label>Pet*</label>
        <select name="pet">
            <% pets.forEach(pet=> { %>
                <option label="<%= pet.name %>" value="<%= pet.id %>"></option>
            <% }) %>
        </select>
    </div>
</div>