<div class="row">
    <div class="form-container">
        <h2>
            Room Number: <%= room.roomNumber %>
        </h2>

        <img height="150" width="150" src="<%= room.photoPath %>">

        <ul>
            <li>Daily Price: € <%= room.dailyPrice %>
            </li>
            <li>Typology: <%= room.typology %>
            </li>
            <li>Capacity: <%= room.capacity %>
            </li>
            <li>Available: <%= (room.isVacant ? "Yes" : "No") %>
            </li>
        </ul>

        <a href="/admin/manage-rooms/<%= room.id %>/edit">Edit</a>
        <%- include('../../partials/deleteForm.ejs', { url: `/admin/manage-rooms/${room.id}` }) %>
    </div>
</div>