<div class="form-row">
    <div class="form-item">
        <label>Begin Date:</label>
        <input type="date" min="<% %>" name="dateBegin"
            value="<%= reservation.dateBegin == null ? '' : reservation.dateBegin.toISOString().split('T')[0] %>">
    </div>

    <div class="form-item">
        <label>End Date</label>
        <input type="date" min="<% %>" name="dateEnd"
            value="<%= reservation.dateEnd == null ? '' : reservation.dateEnd.toISOString().split('T')[0] %>">
    </div>

    <div class="form-item">
        <% for (let i=0; i < reservation.occupants.length; i++) { %>
            <div class="occupant-field">
                <div>
                    <label>Occupant <%= i + 1 %> Name:</label>
                    <input type="text" name="occupants[<%= i %>].name" placeholder="Occupant <%= i + 1 %> Name"
                        value="<%= reservation.occupants[i].name %>" required>
                </div>
                <div>
                    <label>Occupant <%= i + 1 %> Age:</label>
                    <input type="number" name="occupants[<%= i %>].age" placeholder="Occupant <%= i + 1 %> Age"
                    value="<%= reservation.occupants[i].age %>" required>
                </div>
            </div>
            <br>
        <% } %>
    </div>

    <div class="form-item">
        <label>Customer</label>
        <select name="customer">
            <% customers.forEach(customer=> { %>
                <option label="<%= customer.name %>" value="<%= customer.id %>"></option>
                <% }) %>
        </select>
    </div>
    
    <div class="form-item">
        <label>Observations:</label>
        <input type="text" name="observations" value="<%= reservation.observations %>">
    </div>

    <div class="form-row">
        <div class="form-item">
            <label>Change State</label>
            <select name="state">
                <% states.forEach(state => { %>
                    <option <% if(reservation.state === state ) { %> selected <% } %> value="<%= state %>" ><%= state %></option>
                <% }) %>
            </select>
        </div>
    </div>

    <input type="hidden" name="roomId" value="<%= room._id %>">
</div>