<div class="row">
    <div class="form-container">
        <h2>Reservation <%= reservation.code %></h2>
        <h3>State: <%= reservation.state %></h3>

        <ul>
            <li>Room: <%= reservation.room.roomNumber %></li>
            <li>Begin: <%= reservation.dateBegin.toDateString() %></li>
            <li>End: <%= reservation.dateEnd.toDateString() %></li>
            <li>Customer: <%= reservation.customer.name %></li>
            <li>Daily: € <%= reservation.dailyPrice %></li>
        </ul>

        <a href="/staff/manage-reservations/<%= reservation.id %>/edit">Edit</a>
        <%- include('../../partials/deleteForm.ejs', { url: `/staff/manage-reservations/${reservation.id}` }) %>
    </div>
</div>