<h2>Reservation <%= reservation.code %></h2>
<h3>State: <%= reservation.state %></h3>

<%- include('_info') %>

<a href="/reservation/<%= reservation.id %>/edit">Edit</a>
<%- include('../partials/deleteForm.ejs', { url: `/reservation/${reservation.id}` }) %>
