<div class="form-container">
    <form class="form-row" action="/hotel" method="GET">
    <label>Search Hotel</label>
    <div class="search-form">
        <input type="text" name="name" placeholder="Name" value="<%= searchOptions.name %>">
    </div>
    <div class="search-form">
        <input type="text" name="address" placeholder="Address" value="<%= searchOptions.address %>">
    </div>
    <div class="search-form">
        <input type="number" name="dailyPriceMin" placeholder="Min Price" value="<%= searchOptions.dailyPriceMin %>">
    </div>
    <div class="search-form">
        <input type="number" name="dailyPriceMax" placeholder="Max Price" value="<%= searchOptions.dailyPriceMax %>">
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
</form>
</div>

<br>

<div class="row">
<% hotel.forEach(hotel => { %>
    <div class="container">
    <img height="150" width="150" src="<%= hotel.photoPath %>">
    <div><%= hotel.name %></div>
    <div><%= hotel.address %></div>
    <div>€ <%= hotel.dailyPrice %></div>
    <a href="/hotel/<%= hotel.id %>">View</a>
    <a href="/hotel/<%= hotel.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm.ejs', { url: `/hotel/${hotel.id}` }) %>
</div>
    
<% }) %>
</div>