<div class="row">
    <div class="form-container">
        <h2><%= customer.name %></h2>
        <ul>
            <li>Email: <%= customer.email %></li>
            <li>Contact: <%= customer.contact %></li>
            <li>Address: <%= customer.address %></li>
        </ul>
        <a href="/customer/<%= customer.id %>/edit">Edit</a>
        <%- include('../partials/deleteForm.ejs', { url: `/customer/${customer.id}` }) %>
    </div>
</div>
        <% if (petsByCustomer.length > 0) { %>
            <div class="row">
                <% petsByCustomer.forEach(pet => { %>
                    <div class="container">
                    <img height="150" width="150" src="<%= pet.photoPath %>">
                    <a href="/pet/<%= pet.id %>"><%= pet.name %><a>
                    </div>
                <% }) %>
            </div>
        <% } %>