<h2>Search Staff</h2>
<form action="/staff" method="GET">
    <labels>Name</labels>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% staff.forEach(staff => { %>
    <div><%= staff.name %></div>
    <div><%= staff.email %></div>
    <a href="/staff/<%= staff.id %>">View</a>
    <a href="/staff/<%= staff.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm.ejs', { url: `/staff/${staff.id}` }) %>
<% }) %>